/librapicorncore-[0-9][0-9].[0-9][0-9].la
/aidavariants.hh
/configbits.cc
/rapicornconfig.h
/rapicornsignalvariants.hh
/types-ptpp.cc
/types-zgen.c
/gen-enums.cc
/stamp-autochecks
/rapidres-[0-9][0-9].[0-9][0-9]
/zres.cc
