Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.pyc
/autogen.log
/autotools/*.m4
/.x11test.log
/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.h
/configure.h.in
/configure.h.in~
/depcomp
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/po-helper.sh
/py-compile
/rapicorn-[0-9][0-9].pc
/rnd-files/
/README
/stamp-h1
