ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
configure.h
configure.h.in
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
stamp-h1
