<style type="text/css">
  body { font-family: "DejaVu Sans", "Bitstream Vera Sans", Corbel, Verdana, "Verdana Ref", sans-serif; }
  body > p, body > dl, body > ul, body > ol	{ margin-left: 40pt; }
  body > pre					{ margin-left: 56pt; }
  h6 { font-size: 1.05em; }
  h5 { font-size: 1.10em; }
  h4 { font-size: 1.15em; }
  h3 { font-size: 1.20em; }
  h2 { font-size: 1.25em; }
  h1 { font-size: 1.30em; }
</style>
