/* Doxer - Software documentation system
 */

/* --- Text and font styles --- */
/* http://style.cleverchimp.com/font_size_intervals/altintervals.html
 * http://www.w3.org/QA/Tips/font-size
 */
body			{ font-family: sans; }
h1			{ font-size: 1.7em; text-decoration: underline; text-align: center; }
h2			{ font-size: 1.5em; text-decoration: underline; text-align: center; }
h3			{ font-size: 1.4em; text-decoration: underline; }
h4			{ font-size: 1.3em; text-decoration: underline; }
h5			{ font-size: 1.2em; }
h6			{ font-size: 1.1em; }

/* --- Spacing and sizing --- */
h1			{ margin: 1.5em 0 1.5em; }
h2			{ margin: 1.5em 0 1.0em; }
h3			{ margin: 1.2em 0 0.3em; }
h4			{ margin: 0.8em 0 0.2em; }
h5			{ margin: 0.5em 0 0.2em; }
h6			{ margin: 0.5em 0 0.1em; }
p			{ margin: 0.5em 0 0.5em 0.7em; }
td > p, th > p		{ padding: 0; margin: 0; }
pre			{ padding: 0.55em 0.75em; margin: 0.5em 0.3em; }
ul, ol			{ margin: 0; padding-left: 1.2em; }
li			{ margin-bottom: 0.4em; }

/* --- Colors and borders --- */
pre                     { background-color: #eeeeee; border: 1px solid #dddddd; }

/* --- Custom tables --- */
table.doxercss-default		{ margin: 5px; padding: 3px; border: 1px solid #aaaaaa; border-collapse: collapse; caption-side: bottom; }
table.doxercss-default caption	{ margin-left: inherit; margin-right: inherit; font-weight: bold; }
table.doxercss-default th	{ padding: 0.1em 0.3em; text-align: center; border: 1px dashed #aaaaaa; border-bottom: 1px solid #aaaaaa; background-color: #ddddee; }
table.doxercss-default td	{ padding: 0.1em 0.3em; border: 1px dashed #aaaacc; background-color: #eeeeff; }

table.doxercss-slim		{ margin: 5px; padding: 3px; border: 1px solid #aaaaaa; border-collapse: collapse; caption-side: bottom; }
table.doxercss-slim caption	{ margin-left: inherit; margin-right: inherit; font-weight: bold; }
table.doxercss-slim th		{ padding: 0.1em 0.3em; text-align: center; border: 1px solid #aaaaaa; border-bottom: 1px solid #aaaaaa; }
table.doxercss-slim td		{ padding: 0.1em 0.3em; border: 1px solid #aaaacc; }


/* --- footnote references --- */
.footref a			{ text-decoration: none; background: none; }		/* .footref a contains full footnote text */
.footref a:hover		{ background: none;					/* IE: needs bg specification for formatting */ }
.footref a .footref-link	{ text-decoration: underline; vertical-align: super; } 	/* .footref link portion */
.footref a .footref-text	{ display: none;					/* no unhovered/unfocused text display */
				  background: #ffffd0; color: #000000; border: 1px solid #400080;
				  padding: 0.0em 0.2em; width: auto; }
.footref a:hover .footref-text,
.footref a:focus .footref-text	{ display: block;	/* display on hover/focus */
				  position: absolute;   /* prevent page reformatting */ }

/* --- footnotes --- */
.footnote a .footnote-link	{ vertical-align: super; }
